$spacing-unit: 30px;
$content-width: 800px;

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

body {
  font: 400 16px/1.5 Georgia, "Times New Roman", serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

ul,
ol {
  margin-left: $spacing-unit;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  color: #2a7ae2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: calc(#{$spacing-unit} / 2);
  padding-left: calc(#{$spacing-unit} / 2);
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: calc(#{$content-width} - (#{$spacing-unit} / 2));
    padding-right: calc(#{$spacing-unit} / 4);
    padding-left: calc(#{$spacing-unit} / 4);
  }
}

.page-content {
  padding: $spacing-unit 0;
}

.post {
  margin-bottom: $spacing-unit;
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;
}

.post-content h2 {
  font-size: inherit;
  font-weight: bold;
}

.post-content h3 {
  font-size: 26px;
}

.post-content h4 {
  font-size: 20px;
}

.post-content p,
.post-content ul,
.post-content ol,
.post-content blockquote,
.post-content pre {
  margin-bottom: 15px;
}

.site-nav {
  position: relative;
}

.site-nav .nav-trigger {
  display: none;
}

.site-nav .menu-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }

  .site-nav label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }

  .site-nav .menu-icon > svg path {
    fill: #424242;
  }

  .site-nav input ~ .trigger {
    clear: both;
    display: none;
  }

  .site-nav input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .site-nav .trigger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
  }

  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
    margin: 0;
  }
}
